#gameGrid{

}

td{
    border: 1px solid black;
    width: 75px;
    height: 75px;
    content: none;
}

.goodPosition{
    background-color: green;
}

.badPosition{
    background-color: yellow;
}

.absentInTheWord{
    background-color: red;
}

